<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/master.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.cookie.js")" type="text/javascript"></script>
    
    @RenderSection("headSection")
</head>
<body>
    @RenderBody()
</body>
</html>
